// Nurse
.nurse-avatar {
    height: 5rem;

    display: grid;
    grid-template: 1fr 1fr / auto 1fr;

    gap: 0 0.5rem;

    background-color: var(--bg);
    padding: 0.5rem;

    border-radius: 8px;
    cursor: pointer;

    color: var(--text);
    text-decoration: none;

    transition: 250ms cubic-bezier(0.23, 1, 0.320, 1);
}

.nurse-avatar:hover {
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px 4px #0002;
}

.nurse-avatar h4 {
    align-self: flex-end;
}

.nurse-avatar p {
    font-size: 0.75rem;
    font-weight: 500;
}

.nurse-avatar img {
    height: 4rem;
    grid-row: 1 / span 2;
}

// --- Nurse End