@import './components/styles.scss';

:root {
    --text: #010101;
    --accent-1: #03234d;
    --accent-2: #1169b4;
    --accent-3: #299ff7;
    --surface: #cef1fc;
    --bg: #ffffff;

    --disabled: color-mix(in srgb, var(--accent-3) 30%, lightgray);
    --disabled-text: color-mix(in srgb, var(--accent-3) 30%, gray);

    font-family: 'Raleway Variable';
    color: var(--text);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background-color: var(--surface);
}

body {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

header,
main {
    padding: 1.5rem;
}

img.bg {
    all: unset;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

    opacity: 5%;

    width: 130vw;
    align-self: center;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: var(--text);

        display: none;
        cursor: pointer;

        font-weight: 600;
        font-size: 0.9rem;

        position: relative;
        padding-block: 0.25rem;

        &::after {
            content: '';

            position: absolute;
            inset: 0;

            width: 100%;
            border-bottom: 2px solid var(--accent-2);

            transform-origin: right;
            transform: scaleX(0);

            transition: transform 450ms cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }

    &.route-nurse-home #logout,
    &.route-admin-home #logout,
    &.route-index #to-admin,
    &.route-admin-patientlist #go-back,
    &.route-admin-viewpatient #go-back {
        display: unset;
    }

    img {
        all: unset;
        width: 8rem;
    }
}

main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    margin-top: 10vh;
    overflow-y: auto;

    h1 {
        font-size: 2.5rem;
    }
}

footer {
    text-align: center;
    padding: 0.5rem;

    font-size: 0.75rem;
}

@import './generics.scss';

// HomePage
#nurse-login-profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 0.5rem;

    margin-top: 2rem;

    &:empty::after {
        content: 'No profiles here. Check out the Admin Page and add a new nurse!';
        color: var(--disabled-text);

        font-style: italic;
        font-size: 0.9rem;
        font-weight: 500;
    }
}

// Nurse Login
form#nurse-login {
    display: grid;
    justify-items: start;

    gap: 0.5rem;
    margin-top: 2rem;

    > div {
        display: flex;
        gap: 1rem;
    }
}

// Nurse home
@keyframes waiting {
    20%,
    80% {
        opacity: 80%;
    }

    50% {
        opacity: 50%;
    }
}

#nurse-home {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 0.25rem;

    p.await-input {
        animation: waiting 4s ease-in-out infinite;
        margin-bottom: 1rem;
    }
}

#assigned-patients {
    overflow-y: hidden;

    margin-block: 1rem;
    width: 100%;

    max-height: 0;
    transition: max-height 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

    &.open {
        max-height: var(--max-height);
    }

    h2 {
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;

        display: grid;
        gap: 0.5rem;

        &:empty::after {
            content: 'No patients have been assigned to you.';

            font-size: 0.9rem;
            color: var(--disabled-text);
        }

        li {
            border: 1px solid var(--accent-3);
            border-radius: 6px;

            padding: 0.5rem;
            font-size: 0.9rem;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

#patient-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32ch, 1fr));

    gap: 1rem 4rem;

    label {
        width: auto;
    }
}

// Admin Login
#admin-login {
    p {
        margin-top: 0.5rem;
    }

    label {
        margin-top: 2rem;
    }

    > div {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
    }
}

// Admin Home Page
#admin-home .container {
    margin-block: 1rem;
    padding: 0.5rem;

    border: 1px solid var(--accent-3);
    border-radius: 0.5rem;

    .title {
        display: flex;

        align-items: center;
        gap: 0.5rem;

        h4 {
            flex-grow: 1;
        }

        #show-nurse-list,
        #show-patient-list {
            span {
                transition: transform 650ms cubic-bezier(0.16, 1, 0.3, 1);
            }

            &.up span {
                transform: rotate(-180deg);
            }
        }
    }

    ul {
        max-height: 0;
        overflow-y: hidden;

        transition: max-height 650ms cubic-bezier(0.33, 1, 0.68, 1);

        &:empty::after {
            content: 'No registered nurses. Click "Add a Nurse to populate this list!"';
            color: var(--disabled-text);

            font-style: italic;
            font-size: 0.9rem;
            font-weight: 500;
        }

        li {
            list-style: none;

            border-radius: 0.25rem;
            background-color: var(--bg);

            padding: 0.5rem;
            margin-top: 0.5rem;

            display: grid;

            grid-template: auto 1fr / auto 1fr auto;
            column-gap: 0.5rem;

            img {
                grid-row: 1 / span 2;
                height: 4rem;
            }

            small {
                color: color-mix(in srgb, var(--text) 40%, var(--bg));
            }

            button {
                grid-column: 3;
                grid-row: 1 / span 2;
            }
        }
    }
}

// Add nurse
#admin-addnurse .grid-content,
#admin-addpatient .grid-content {
    margin-block: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36ch, 1fr));

    width: 100%;

    align-items: end;
    gap: 1rem 3rem;

    label {
        width: 100%;

        &.preview {
            opacity: 0;
            transition: opacity 650ms cubic-bezier(0.23, 1, 0.32, 1);

            &.show {
                opacity: 1;
            }
        }

        input,
        select,
        option {
            margin-top: 0.25rem;

            font-family: inherit;
            font-weight: 500;
        }
    }

    img {
        height: 4rem;
        margin: 0.5rem;
    }

    input {
        font-size: 0.8rem;
        font-family: inherit;
    }
}

#admin-addpatient,
#admin-addnurse {
    hr {
        margin-block: 1rem;
    }

    .actions {
        display: flex;
        gap: 1rem;
    }
}

#admin-patientlist {
    .search-box,
    ul li {
        border-radius: 8px;
    }

    .search-box {
        display: flex;
        gap: 0.5rem;

        margin-block: 1rem;
        padding-inline: 0.5rem;

        width: fit-content;
        background-color: var(--bg);

        align-items: center;

        label {
            margin-block: 0.5rem;

            input {
                border-bottom-color: color-mix(
                    in srgb,
                    var(--surface) 40%,
                    var(--text)
                );
            }
        }
    }

    ul {
        list-style: none;

        &:empty::after {
            content: 'No patients admitted';
            color: var(--disabled-text);
        }

        li {
            border: 1px solid var(--accent-3);

            margin-block: 0.5rem;
            padding: 0.5rem;
            display: flex;

            justify-content: space-between;
            align-items: center;

            > div {
                display: flex;
                gap: 0.5rem;
            }

            &.discharged {
                border-color: var(--disabled);
            }
        }
    }
}

label:has(~#nurses-with-access) {
    margin-top: 2rem;
}

#nurses-with-access {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: 1rem;

    margin-bottom: 2rem;

    li {
        list-style: none;
        padding: 0.5rem 1rem;
        border: 1px solid var(--accent-2);
        border-radius: 8px;

        label {
            display: flex;
            justify-content: space-between;

            width: 100%;
            
            &::after {
                all: unset;
            }
        }
    }
}